<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Codesanook.NumberGuessingGame</title>
  <link href="@Url.Content("~/styles/site.css")" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
  <script src="@Url.Content("~/scripts/site.js")"></script>
</head>

<body>
  @RenderBody()
</body>

</html>
